<template>
  <div class="group">
    <v-col cols="11" sm="10" md="40">
      <v-text-field
        v-model="newTodoText"
        placeholder="Write things you have to do"
      >
      </v-text-field>
    </v-col>

    <v-btn color="blue" @click="addTodoItems">Add</v-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newTodoText: "",
      todo: {
        id: {
          type: Number,
        },
        name: {
          type: String,
          allowNull: false,
        },
        is_checked: {
          type: Boolean,
          defaultValue: false,
        },
        is_deteled: {
          type: Number,
          defaultValue: 1
        },
        likes: {
          type: Number,
          defaultValue: 0
        }
      },
      nextTodoId: 1,
    };
  },
  methods: {
    addTodoItems() {
      this.todo = {
        id: this.nextTodoId++,
        name: this.newTodoText,
        is_checked: false,
      };
      this.$emit("click-add", this.todo);
      this.newTodoText = "";
    },
    
  },
};
</script>

<style scoped>
.group {
  display: flex;
  align-items: center;
}
</style>
        