`<template>
  <div>
        <TodoItems
          v-for="todo in todoList"
          :key="todo.id"
          :todoItem="todo"
          :id="todo.id"
          @check-item="checkItem"
          @button-delete="buttonDelete"
          @button-like="buttonLike"
        />   
  </div>
</template>

<script>
import TodoItems from "./TodoItems.vue";

export default {
  name: "ListTodoItems",
  components: { TodoItems},
  props: {
    todoList: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
    }
  },
  methods: {
    buttonDelete(data) {
      this.$emit("delete-item", data);
    },
    checkItem(data) {
      this.$emit("handle-check", data);
    },
    buttonLike(id){
      this.$emit("button-like",id)
    }
  },
}
</script>

<style>
</style>