<template>
  <div>
    <v-card class="group">
      <v-list-item>
        <template v-slot:default="{ active }">
          <v-list-item-action>
            <v-checkbox
              :input-value="active"
              color="primary"
              @click="checked"
              v-model="check"
            ></v-checkbox>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ todoItem.name }}</v-list-item-title>
          </v-list-item-content>

          <v-badge v-if="todoItem.likes" color="green" :content="todoItem.likes" overlap>
            <v-btn @click="liked" fab dark x-small color="pink">
              <v-icon dark> mdi-thumb-up </v-icon>
            </v-btn>
          </v-badge>

          <v-btn v-else @click="liked" fab dark x-small color="pink">
            <v-icon dark> mdi-thumb-up </v-icon>
          </v-btn>

          <v-btn @click="deleted" fab dark x-small color="blue">
            <v-icon dark> mdi-delete </v-icon>
          </v-btn>
        </template>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
// import axios from 'axios'
export default {
  name: "TodoItems",
  props: {
    todoItem: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      count: 0,
      check: false,
    };
  },
  methods: {
    deleted() {
      this.$emit("button-delete", this.todoItem);
    },
     liked() {
      this.$emit("button-like", this.todoItem.id)
    },
    checked() {
      this.$emit("check-item", this.todoItem);
    },
  },
};
</script>

<style scoped>
.v-btn {
  margin-left: 10px;
}

.group{
  margin-top: 10px;
}

</style>>
