<template>
  <div>
    <h1>List Name Parents</h1>
    <!-- <v-btn @click="getDogName" elevation="2">click</v-btn> -->
    <ul>
      <li v-for="(parentsname, index) in listName.message" :key="index">
        {{ index }}
        <ul>
          <li v-for="(childname, index) in parentsname" :key="index">
            {{ childname }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "DogNameList",
  data() {
    return {
      listName: [],
    };
  },
  methods:{
    async getDogName() {
        try {
          const response = await axios.get(
            "https://dog.ceo/api/breeds/list/all"
          );
          this.listName = response.data;
        } catch (error) {
          console.log(error);
        }
      },

  },
  mounted(){
    this.getDogName()
  },
};
</script>

<style>
</style>