<template>
  <div class="group">
    <div class="picture">
      <img :src="dogImage.message" />
    </div>
    <div class="button">
      <v-btn @click="getRandomDog" elevation="2" x-large rounded>random</v-btn>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "DogRandom",
  data() {
    return {
      dogImage: [],
    };
  },
  methods: {
    async getRandomDog() {
      try {
        const response = await axios.get(
          "https://dog.ceo/api/breeds/image/random"
        );
        this.dogImage = response.data;
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.group {
  background-color: rgb(230, 180, 235);
  border-radius: 24px;
  border-style: outset;
  margin: 10px 300px 0 300px;
  width: 1000px;
  height: 800px;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
img {
  margin: 50px 250px 10px 250px;
  width: 500px;
  height: 500px;
}
</style>