<template>
<div>
  <v-card>
    <v-toolbar>
      <v-text-field
        v-model="textInput"
        hide-details
        prepend-icon="mdi-magnify"
        single-line
        @input="findById"
      ></v-text-field>
      
    </v-toolbar>
  </v-card>
  <div class="page">
    <h1>To-do List</h1>
    <AddTodoItems @click-add="buttonClickAdd" />
    
      <ListTodoItems
        :todoList="todos"
        @delete-item="removeItem"
        @handle-check="pushOnTop"
        @button-like="countLike"
      />

  </div>
</div>
</template>

<script>
import axios from 'axios'
import AddTodoItems from "@/components/AddTodoItems.vue";
import ListTodoItems from "@/components/ListTodoItems.vue";


export default {
  name: "HomeView",
  components: { AddTodoItems, ListTodoItems },
  data() {
    return {
      todos: [],
      counter: 0,
      textInput:''
      
    };
  },
  methods: {
    async buttonClickAdd(data) {
      try {
        await axios.post(
          "http://localhost:3001/todo", data
          );
            this.todos.push(data);
          
        } catch (error) {
          console.log(error);
        }
    },
    async removeItem(data) {
      try {
        await axios.delete(
          `http://localhost:3001/todo/${data.id}`
          );
            let index = this.todos.findIndex((item) => item.id === data.id);
            this.todos.splice(index, 1);
        } catch (error) {
          console.log(error);
        }

    },
    pushOnTop(data) {
      data.is_checked = !data.is_checked;
      if (data.is_checked === true) {
        let checked = this.todos.findIndex((item) => item.id === data.id);
        let topItem = this.todos.splice(checked, 1);
        this.todos = topItem.concat(this.todos);
      } else {
        let unchecked = this.todos.findIndex((item) => item.id === data.id);
        let bottomItem = this.todos.splice(unchecked, 1);
        this.todos = this.todos.concat(bottomItem);
      }
    },

    async getListTodo() {
        try {
          const response = await axios.get(
            "http://localhost:3001/todo/"
          );
          this.todos = response.data;
        } catch (error) {
          console.log(error);
        }
      },

    async findById(value) {
        try {
          this.textInput = value
          const response = await axios.get(
            `http://localhost:3001/todo/${this.textInput}`
          );
          console.log(response);
          this.todos = [response.data];
          this.textInput=''
        } catch (error) {
          this.todos=[]
          this.textInput=''
          console.log(error);
        }
      },
    
    async countLike(id) {

        try {
          const response = await axios.post(
            "http://localhost:3001/todo/like", {id:id}
          );
          const todo = response.data
          const index = this.todos.findIndex(item => item.id === todo.id)
          this.todos.splice(index,1,todo)
        } catch (error) {
          console.log(error);
        }
      },

  },
  mounted(){
    this.getListTodo()
  }
};
</script>

<style>
.page {
  display: flex;
  flex-direction: column;
  margin: 100px 100px 100px 200px;
}
h1 {
  text-align: center;
  margin-right: 50px;
}
</style>